@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather&family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather&family=Mukta:wght@300&family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@300;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#search-stock {
    width: 20vw;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.switch-racing-btn {
    height: 47px;
    width: 130px;
    border: 1px solid #B1A296;
    border-radius: 5px;
    background-color:#B1A296;
    color: white;
    padding: 5px;
    font-family: 'Merriweather', sans-serif;
    /* font-weight: 300; */
    font-size: 16px;
    cursor: pointer;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}

.racing-form-btn-home {
    height: 47px;
    width: 160px;
    border: 1px solid #B1A296;
    border-radius: 5px;
    background-color:#B1A296;
    color: white;
    padding: 5px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    margin-right: 10px;
}

.switch-btn {
    height: 47px;
    width: 130px;
    border: 1px solid #B1A296;
    border-radius: 5px;
    background-color:#B1A296;
    color: white;
    padding: 5px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}

.switch-btn-container {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 95vw;
}

.stock-input-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btns-container {
    position: relative;
}

.platform-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.racing-bar-container {
    width: 98vw;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    margin: 10px;
    background-color: white;
}

.price-history-chart-container {
    width: 95vw;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    margin: 10px;
    background-color: white;
    transition: box-shadow 1s, width 1s, height 1s;
}

.overview-container {
    padding: 10px 15px;
    width: 95vw;
    /* border: 1px solid lightgrey; */
    border-radius: 5px;
    /* box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5);  */
    margin: 10px;
    background-color: white;
    transition: box-shadow 1s, width 1s, height 1s;
}

.name-container {
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}

.name-container-crypto {
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.description-container {
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.earnings-chart-container {
    width: 95vw;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    margin: 10px;
    background-color: white;
    transition: box-shadow 1s, width 1s, height 1s;
}

.balance-sheet-container {
    width: 95vw;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    margin: 10px;
    background-color: white;
    transition: box-shadow 1s, width 1s, height 1s;
}

.warning {
   width: 100vw;
   height: 4vh;
   background-color: #557A95;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Merriweather', serif;
   font-weight: 300;
   font-size: 16px;
}

.search-btn-2 {
    background-color: #B1A296;
    height: 55px;
    width: 80px;
    border: 1px solid #B1A296;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    /* box-shadow: 0px 8px 7px -5px rgba(0,0,0,0.51); */
    cursor: pointer;
    position: absolute;
    margin-left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;

}

.fas.fa-search.fa-2x {
    color:white;
}

.input-div {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-div div{
    position: absolute;
    right: 2vw;
}

.racing-form {
    width: fit-content;
    display: flex;
    justify-content: center;
    left: 40vw;
}

#racing-input {
    width: 25vw;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
    padding-left: 20px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.racing-form-btn {
    background-color: #B1A296;
    height: 54px;
    width: 100px;
    border: 1px solid #B1A296;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.begin-race-btn-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.begin-race-btn-container button {
    background-color: #7395AE;
    height: 45px;
    width: 170px;
    border: 1px solid #7395AE;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.stocks-display-container {
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.stock-text {
    margin-left: 10px;
    height: 90%;
    width: 8%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Merriweather', serif;
    color: #557A95;
    font-size: 18px;
}

.close-x {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: red;
}

.instructions-container {
    position: absolute;
    left: 32%;
    bottom: 50%;
    width: 700px;
    height: 200px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    border: 1px solid #7395AE;
    border-radius: 5px;
    background-color: #7395AE;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}

.instructions-header {
    height: 15%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
}

.instructions-header-2 {
    height: 15%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(70, 28, 4, 0.239);
}

.instructions-container div {
    width: 100%;
}

.instructions-explanation-container {
    position: absolute;
    border: 1px solid #B1A296;
    border-radius: 5px;
    bottom: 20vh;
    left: 26vw;
    background-color: #B1A296;
    color: white;
    font-family: "Merriweather", serif; 
    height: 400px;
    width: 900px;
    padding: 20px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
    display: flex;
    flex-wrap: wrap;
}

.instructions-container-bonus {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}

.explanations-container {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.instructions-container-bonus div {
    width: 100%;
}

.explanations-container div {
    width: 100%;
}

.timestamp-container {
    position: absolute;
    top: 110vh;
    right: 3vw;
    font-family: "Merriweather", serif;
    font-size: 30px;
    z-index: 10;
    background-color: #B1A296;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}

.about-me {
    position: absolute;
    top: 6.5%;
    left: 43%;
    width: 15vw;
    justify-content: space-evenly;
    display: flex;
    z-index: 10;

}

.about-me-bonus {
    position: absolute;
    top: 6.5%;
    left: 0%;
    width: 15vw;
    justify-content: space-evenly;
    display: flex;
    z-index: 10;

}

.fab.fa-linkedin.fa-2x {
    color: #557A95;
}

.fab.fa-github-alt.fa-2x {
color: #557A95;
}

.fab.fa-angellist.fa-2x {
color: #557A95;
}

.fab.fa-linkedin.fa-2x:hover {
    color: #7395AE;
}

.fab.fa-github-alt.fa-2x:hover {
color: #7395AE;
}

.fab.fa-angellist.fa-2x:hover {
color: #7395AE;
}